        <footer>
            <div>
                <ul class="footer-nav">
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>